
.header {
  background: #000;
  color: #fff;
}

.navbar {
  margin: 0 -15px;
}

.nav-item {
  border-bottom: 2px solid transparent;
}

.nav-item:hover {
  border-bottom: 2px solid #fff;
}

.breadcrumb {
  margin: 15px 0;
}

.content {
  margin-top: 20px;
}

.mtg-card {
  padding: 10px;
  opacity: 1;
}

.mtg-card:hover {
  opacity: .8;
}
